.white-panel.col-md-3.col-xs-6
  %span.no-of-talks
    = link_to pluralize(event.talks.count, 'talk'), event_talks_path(event)
  = image_tag(event.image)
  %h3
    = link_to event_path(event) do
      = event.name
    - if event.website.present?
      %small.pull-right.external-ink
        = link_to event.website, target: :blank do
          %i.fa.fa-link
  %p
    = truncate(event.description, length: 500) { link_to 'keep reading', event_path(event) }
  - if event.tags.present?
    %hr
    %p
      %span.tags
        - event.tags.each do |tag|
          = link_to "##{tag}", '#'
  - if event.talks.present?
    %hr
      - event.talks.each do |talk|
        = talk.topic
  %hr
  %small.text-muted
    .address
      %span.duration.pull-right
        = display_duration(event.starts_at, event.ends_at)
      - if event.address.present?
        %i.fa.fa-map-marker
        = event.address
