.white-panel.col-md-3.col-xs-6
  = link_to user_event_path(current_user, event) do
    = image_tag(event.image)
    %h4
      = event.name
  %p
    = event.description
  - if event.tags.present?
    %hr
    %p
      %span.tags
        - event.tags.each do |tag|
          = link_to "##{tag}", '#'
  %hr
  %small.text-muted
    .address
      %span.duration.pull-right
        = duration(event.starts_at, event.ends_at)
      %i.fa.fa-map-marker
      = event.address
