.row
  .col-md-12
    .box
      .box-header.with-border
        %h3.box-title
          = title
      = form_for [current_user, @event], :html => {:class => 'form-horizontal', :multipart => true} do |f|
        - if @event.errors.any?
          #error_explanation
            %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
            %ul
              - @event.errors.full_messages.each do |msg|
                %li= msg

        .box-body
          .form-group
            = f.label :name, :class => 'col-sm-2 control-label'
            .col-sm-10
              = f.text_field :name, :class => 'form-control', :placeholder => 'Name'
          .form-group
            = f.label :description, :class => 'col-sm-2 control-label'
            .col-sm-10
              = f.text_area :description, :class => 'form-control', :placeholder => 'Description'
          .form-group
            = f.label :tags, :class => 'col-sm-2 control-label'
            .col-sm-10
              = f.text_field :tag_list, :class => 'form-control select2', :placeholder => 'Tags (separated by commas)', :value => f.object.tag_list.join(', ')
          .form-group
            = f.label :starts_date, :class => 'col-sm-2 control-label'
            .col-sm-10
              .input-group
                .input-group-addon
                  %i.fa.fa-calendar
                = f.text_field :starts_at, :class => 'form-control date-mask'
          .form-group
            = f.label :ends_date, :class => 'col-sm-2 control-label'
            .col-sm-10
              .input-group
                .input-group-addon
                  %i.fa.fa-calendar
                = f.text_field :ends_at, :class => 'form-control date-mask'
          .form-group
            = f.label :background_image, :class => 'col-sm-2 control-label'
            .col-sm-10
              = f.file_field :image
              %p.help-block This image appears as the identity of your event...make it count
          .form-group
            = f.label :where, :class => 'col-sm-2 control-label'
            .col-sm-10
              #map{:style => 'width: 100%; height: 350px;'}
              = f.hidden_field :lat, id: 'map_lat'
              = f.hidden_field :lng, id: 'map_lng'
        .box-footer
          = link_to 'Cancel', root_path, :class => 'btn btn-default'
          = f.submit 'Save', :class => 'btn btn-info pull-right'

:javascript
  $(document).ready(function(){
    gmap_form(null);    // form map for new view (print nothing with possibility of put marker)
  });
