.row
  .col-md-12
    .box
      .box-header.with-border
        %h4.box-title
          = @event.name
        %span.pull-right
          = link_to edit_user_event_path(current_user, @event) do
            %i.fa.fa-pencil-square-o
      .event_banner{:style => "background: url(#{@event.image});background-size: cover;background-repeat: no-repeat;background-position: center;position: relative;"}
      .box-body
        %p
          = @event.description
        %hr
        %p
          %span.tags
            - @event.tags.each do |tag|
              = link_to "##{tag}", '#'
        - if @event.address.present?
          %hr
          %i.fa.fa-map-marker
          = @event.address
          %br
          %br
          #map{:style => 'width: 100% ; height: 350px;'}

:javascript
  var event = #{@event.to_json}    // pass ruby variable to javascript
  gmap_show(event);    // init show map for event card (only print marker)

