.row
  .col-md-12
    .box
      .box-header.with-border
        %h4.box-title
          = @event.name
        %span.pull-right
          = link_to 'Edit', edit_user_event_path(current_user, @event)
      .event_banner{:style => "background: url(#{@event.image});background-size: cover;background-repeat: no-repeat;background-position: center;position: relative;"}
      .box-body
        %p
          = @event.description
        %hr
        %p
          Featured In
          %span.tags
            - @event.tags.each do |tag|
              = link_to "##{tag}", '#'
