.row
  .col-md-12
    .box
      .box-header.with-border
        %h4.box-title
          = @event.name
        %span.pull-right
          = link_to edit_user_event_path(current_user, @event), class: 'btn btn-sm btn-primary' do
            %i.fa.fa-pencil
            Edit
          = link_to event_talks_path(@event), class: 'btn btn-sm btn-primary' do
            Talks
      .event_banner{:style => "background: url(#{@event.image});background-size: cover;background-repeat: no-repeat;background-position: center;position: relative;"}
      .box-body
        %p
          = @event.description.present? ? @event.description : "We don't have much to describe this event as of now."
        - if @event.tags.present?
          %hr
          %p
            %span.tags
              - @event.tags.each do |tag|
                = link_to "##{tag}", '#'
        - if @event.talks.present?
          %hr
          - @event.talks.each do |talk|
            %p
              = talk.topic
        - if @event.address.present?
          %hr
          %i.fa.fa-map-marker
          = @event.address
          %br
          %br
          #map{:style => 'width: 100% ; height: 350px;'}
        - if @event.contact_email.present? || @event.mailing_list.present?
          %hr
          %h4 Contacts
          .row
            - if @event.contact_email.present?
              .col-md-6.col-sm-12
                %i.fa.fa-envelope-o
                Email :
                = @event.contact_email
              - if @event.mailing_list.present?
                .col-md-6.col-sm-12
                  %i.fa.fa-envelope-o
                  Mailing List :
                  = @event.mailing_list
:javascript
  var event = #{@event.to_json}    // pass ruby variable to javascript
  gmap_show(event);    // init show map for event card (only print marker)

